@use "./normalize.scss" as *;

$fontFamily: "alipuhui", sans-serif;

$color: #212121;

html,
.wrapper,
body,
body > div:first-child {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    background-image: url("./Image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 50%;
    background-color: transparent;
}

.wrapperScroll {
    background-color: rgba(#212121, 0.1);
}

.wrapperBody {
    padding: 20px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 32px;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #287788;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #f5f5f5;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

/****** 上方原始数据部分 start *********/

.warehouse_total {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #fff;
}

.warehouse_totalVal {
    color: #25d9ff;
    margin: 0 5px;

    &.red {
        color: red;
    }
}

.warehouse_scrollWrap {
    margin-top: 8px;
    box-sizing: border-box;
}

.warehouse_scrollBody {
    max-height: 20vh;
}

.warehouse_body {
    width: calc(100% + 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
}

@mixin DragItem {
    color: #4d4d4d;
    letter-spacing: 0.2px;
    font-family: $fontFamily;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    display: inline-block;
}

.dragItem {
    padding: 5px 9px;
    box-sizing: content-box;
    border-radius: 6px;
    @include DragItem();
    margin-right: 20px;
    margin-bottom: 16px;
    position: relative;
    transition: all 0.1s linear;
    cursor: pointer;
}

/****** 上方原始数据部分 end *********/

.dragPortalContainer {
    @include DragItem();
}

.dragContent * {
    display: inline;
}

.dragPortalContainer {
    z-index: 50;
    position: absolute !important;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 6px;
}

.placeholder {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #4d4d4d;
}

/********** 下方 放置区域 start ******************/

.optionItem {
    width: 100%;
    height: 220px;

    border-image-source: url("./Image/btn_bg.png");
    border-image-slice: 16;
    border-image-width: 10px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-style: solid;

    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    box-sizing: border-box;

    position: relative;
    &.active {
        .parking_body {
            background: #e3f1f4;
        }
    }
}

.parking_icon {
    position: absolute;
    right: -20px;
    top: -30px;
}

.selectOption {
    @include DragItem();
    padding: 5px 9px;
    box-sizing: content-box;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 12px;
    position: relative;
}

.parking_wrapper {
    width: calc(100% - 8px * 2);
    height: calc(100% - 8px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    background-color: #f7fbfe;
    border-radius: 4px;
    box-shadow: 0 -5px 0 4px rgba(#f7fbff, 0.16);
}

.parking_body {
    width: calc(100% - 9px * 2);
    height: calc(100% - 8px * 2);
    background: #f7fbfe;
    border-radius: 1px;
    padding: 9px 14px;
    box-sizing: border-box;
    border: 1px solid #ddebf1;
    transition: all 0.1s linear;
}

.parking_head {
    width: 100%;
    font-family: $fontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #2296af;
}

.headContent * {
    display: inline;
}

.parking_container {
    height: calc(100% - 20px - 17px);
    margin-top: 17px;
}

.parking_content {
    width: calc(100% + 16px);
}

/********** 下方 放置区域 end ******************/

/*************** btn_wrap start *****************************/
.btn_wrap {
    border-image-source: url("./Image/btn_bg.png");
    border-image-slice: 16;
    border-image-width: 3px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-style: solid;
    &:not(.gray):hover {
        box-shadow: 0 0 5px rgba(#fff, 0.8);
    }
    &.gray {
        background-color: rgba(#fff, 0.4);
        border-image: none;
        border-color: transparent;
        * {
            visibility: hidden;
        }
        &::after {
            visibility: hidden;
        }
        &::before {
            visibility: hidden;
        }
    }
}

.dragPortalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/*************** btn_wrap end *****************************/

.hr_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin-top: 20px;
    margin-bottom: 26px;
}

.hr_left {
    flex: 1 1 auto;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.hr_center {
    width: 46px;
    height: 28px;
    background-image: url("./Image/hr.png");
    background-color: transparent;
    margin: 0 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.hr_right {
    flex: 1 1 auto;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.btn_icon {
    position: absolute;
    right: -16px;
    bottom: -10px;
}
