@use "./normalize.scss" as *;

$fontFamily: "alipuhui", sans-serif;

$color: #212121;

html,
.wrapper,
body,
body > div:first-child {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapperScroll {
    background: #fff;
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 32px;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #212121;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #757575;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

@mixin Total {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #212121;
}

/****** 上方原始数据部分 start *********/

.warehouse_total {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #bdbdbd;
}

.warehouse_totalVal {
    color: #22a6b3;
    margin: 0 5px;

    &.red {
        color: red;
    }
}

.warehouse_scrollWrap {
    margin-top: 8px;
    box-sizing: border-box;
}

.warehouse_scrollBody {
    max-height: 20vh;
}

.warehouse_body {
    width: calc(100% + 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
}

@mixin DragItem {
    color: #4d4d4d;
    letter-spacing: 0.2px;
    font-family: $fontFamily;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    display: inline-block;
}

.dragItem {
    padding: 8px 12px;
    box-sizing: content-box;
    border-radius: 6px;
    border: 1px solid #ebebeb;

    @include DragItem();
    margin-right: 20px;
    margin-bottom: 16px;
    cursor: pointer;
}

/****** 上方原始数据部分 end *********/

.dragPortalContainer {
    @include DragItem();
}

.dragContent * {
    display: inline;
}

.dragPortalContainer {
    z-index: 50;
    position: absolute !important;
    pointer-events: none;
    box-sizing: border-box;
}

.hr {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
}

.placeholder {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #4d4d4d;
}

/********** 下方 放置区域 start ******************/

.optionItem {
    width: 100%;
    height: 163px;
    background: #fafafa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    &.active {
        .parking_body {
            border: 1px dashed #22a6b3;
            background: #e9f7f8;
        }
    }
}

.selectOption {
    @include DragItem();
    padding: 8px 12px;
    box-sizing: content-box;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 12px;
}

.parking_body {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(26, 26, 26, 0.08), 0px 2px 4px rgba(26, 26, 26, 0.03);
    border-radius: 6px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #fff;
    transition: all 0.1s linear;
}

.parking_head {
    width: 100%;
    font-family: $fontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #bdbdbd;
}

.headContent * {
    display: inline;
}

.parking_container {
    height: calc(100% - 20px - 17px);
    margin-top: 17px;
}

.parking_content {
    width: calc(100% + 16px);
}

/********** 下方 放置区域 end ******************/

/*************** btn_wrap start *****************************/
.btn_wrap {
    &.gray {
        background-color: rgba(gray, 0.2);
        * {
            visibility: hidden;
        }
        &::after {
            visibility: hidden;
        }
        &::before {
            visibility: hidden;
        }
    }
}

.dragPortalContainer {
    @include DragItem();
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}

/*************** btn_wrap end *****************************/
