@use "./normalize.scss" as *;

$fontFamily: "alipuhui", sans-serif;

$color: #212121;

html,
.wrapper,
body,
body > div:first-child {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    background-image: url("./Image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 50%;
    background-color: transparent;
}

.wrapperScroll {
    background-color: rgba(#212121, 0.1);
}

.wrapperBody {
    padding: 20px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 32px;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #287788;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #f5f5f5;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

/****** 上方原始数据部分 start *********/

.warehouse_total {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #fff;
}

.warehouse_totalVal {
    color: #25d9ff;
    margin: 0 5px;

    &.red {
        color: red;
    }
}

.warehouse_scrollWrap {
    margin-top: 8px;
    box-sizing: border-box;
}

.warehouse_scrollBody {
    max-height: 20vh;
}

.warehouse_body {
    width: calc(100% + 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
}

@mixin DragItem {
    color: #4d4d4d;
    letter-spacing: 0.2px;
    font-family: $fontFamily;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    display: inline-block;
}

.dragItem {
    padding: 5px 9px;
    box-sizing: content-box;
    border-radius: 6px;
    position: relative;
    @include DragItem();
    margin-right: 20px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: box-shadow 0.1s linear;
}

/****** 上方原始数据部分 end *********/

.dragPortalContainer {
    @include DragItem();
}

.dragContent * {
    display: inline;
}

.dragPortalContainer {
    z-index: 50;
    position: absolute !important;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 6px;
}

/********** 下方 放置区域 start ******************/

.parking_total {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #fff;
    margin-bottom: 12px;
}

.parking_totalValue {
    color: #25d9ff;
    margin: 0 5px;
    display: inline-block;

    &.red {
        color: red;
    }
}

.deskWrap {
    border-radius: 16px;

    border-image-source: url("./Image/btn_bg.png");
    border-image-slice: 16;
    border-image-width: 10px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-style: solid;
    padding: 8px 0;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;

    .parkContainer {
        flex: 0 0 auto;
        margin-bottom: 15px;
        margin-right: 10px;
    }
}

.deskView {
    width: calc(100% - 8px * 2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    background-color: #f7fbfe;
    border-radius: 4px;
    box-shadow: 0 -5px 0 4px rgba(#f7fbff, 0.16);
    padding: 11px 12px 0 12px;
    box-sizing: border-box;
}

.deskContainer {
    width: calc(100% + 10px);
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 0 0 auto;
}

.parkContainer {
    height: 180px;
    background: #f7fbfe;
    padding: 3px 8px;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: inset 0 0 3px #d8e6eb;
    transition: all 0.1s linear;

    &.active {
        background: #e3f1f4;
    }
}

.selectOption {
    @include DragItem();
    padding: 5px 9px;
    box-sizing: content-box;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 13px;
    position: relative;
}

.parkName {
    width: 100%;
    font-family: $fontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #287788;
}

.parkName * {
    display: inline;
}

.parkContent {
    height: calc(100% - 20px - 17px);
    margin-top: 17px;
}

/********** 下方 放置区域 end ******************/

/*************** btn_wrap start *****************************/
.btn_wrap {
    border-image-source: url("./Image/btn_bg.png");
    border-image-slice: 16;
    border-image-width: 3px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-style: solid;
    &:not(.gray):hover {
        box-shadow: 0 0 5px rgba(#fff, 0.8);
    }
    &.gray {
        background-color: rgba(#fff, 0.4);
        border-image: none;
        border-color: transparent;
        * {
            visibility: hidden;
        }
        &::after {
            visibility: hidden;
        }
        &::before {
            visibility: hidden;
        }
    }
}

.dragPortalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/*************** btn_wrap end *****************************/

/***** 平板样式 start **/

.ipadWrap {
    padding-bottom: 10px;
}

.ipad_border {
    border-radius: 16px;

    border-image-source: url("./Image/btn_bg.png");
    border-image-slice: 16;
    border-image-width: 10px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-style: solid;
    padding: 8px 0;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.ipad_view {
    background-color: #f7fbfe;
    border-radius: 4px;
    box-shadow: 0 -5px 0 4px rgba(#f7fbff, 0.16);

    box-sizing: border-box;
    width: calc(100% - 8px * 2);
    overflow: hidden;
}

.ipad_gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.ipadGroup_wrap {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    height: 180px * 2 + 15px + 11px * 2;
    box-sizing: border-box;
    padding: 11px 12px 0 12px;
    align-content: flex-start;
}

.ipadGroup_item {
    width: calc(calc(100vw - 20px * 2 - 3px * 2 - 12px * 2 - 8px * 2 - 2 * 10px) / 3);
    margin-right: 10px;
    margin-bottom: 15px;
    &:nth-child(3n) {
        margin-right: 0;
    }
    &:nth-child(n + 4) {
        margin-bottom: 0;
    }
}

.ipad_dianWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    margin-top: 24px;
}

.ipad_dian {
    background: #fff;
    border-radius: 10px;
    width: 16px;
    height: 6px;
    margin-right: 8px;
    transition: all 0.1s linear;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
    &.active {
        width: 40px;
        background: rgba(#287788, 0.8);
    }
}

/***** 平板样式 end **/

/***** 手机样式 start ******/

.mobileWrapper {
    border-radius: 16px;

    border-image-source: url("./Image/btn_bg.png");
    border-image-slice: 16;
    border-image-width: 10px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-style: solid;
    padding: 8px 0;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.mobileWrap {
    width: calc(100% - 8px * 2) !important;
    height: 212px;
    background-color: #f7fbfe;
    border-radius: 4px;
    box-shadow: 0 -5px 0 4px rgba(#f7fbff, 0.16);

    .selectOption {
        margin-right: 10px;
    }

    .parkContent_itemList {
        width: calc(100% + 10px);
    }
}

.mobile_scrollBody {
    padding: 16px 0 16px 16px;
    box-sizing: border-box;
}

.mobile_parkMain {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.mobile_parkContainer {
    margin-left: 20px;
    flex: 0 0 auto;
    width: calc(calc(100vw - 16px * 2 - 20px * 2 - 3px * 2 - 8px * 2 - 20px) / 1.7);
    &:first-child {
        margin-left: 0;
    }
}

/***** 手机样式 end ******/

.parkContent_itemList {
    width: calc(100% + 16px);
}

.hr_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin-top: 20px;
    margin-bottom: 26px;
}

.hr_left {
    flex: 1 1 auto;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.hr_center {
    width: 46px;
    height: 28px;
    background-image: url("./Image/hr.png");
    background-color: transparent;
    margin: 0 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.hr_right {
    flex: 1 1 auto;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.btn_icon {
    position: absolute;
    right: -16px;
    bottom: -10px;
}
